<div class="card text-center" style="width: 300px;">
  <div class="card-header h5 text-white bg-primary">
    Password Reset
  </div>
  <div class="card-body px-5">
    <p class="card-text py-2">
      Enter your email address and we'll send you an email with instructions to reset your password.
    </p>
    
    <form (ngSubmit)="handleSubmit()" class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Email" 
                     [(ngModel)]="formData.email" name="email" required />
        <button type="submit" class="btn btn-primary mt-3">Send Reset Link</button>
    </form>
    <div class="d-flex justify-content-between mt-4">
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/register']">Register</a>
    </div>
  </div>
</div>