<div class="card text-center">
  <div class="card-header h5 text-white">
    <i class="fa fa-key mb-2"></i>
    <br>
    Reset Your Password
  </div>
  <div class="card-body">
    <p class="card-text">
      Enter your email address and we'll send you an email with instructions to reset your password.
    </p>
    
    <form (ngSubmit)="handleSubmit()">
      <div class="form-group text-left">
        <label for="email">
          <i class="fa fa-envelope mr-2"></i>Email Address
        </label>
        <input type="email" 
               id="email"
               class="form-control" 
               placeholder="Enter your email address" 
               [(ngModel)]="formData.email" 
               name="email" 
               required 
               autocomplete="email" />
      </div>
      <button type="submit" class="btn btn-primary mt-3">
        <i class="fa fa-paper-plane mr-2"></i>
        Send Reset Link
      </button>
    </form>
    
    <div class="d-flex justify-content-between mt-4">
      <a [routerLink]="['/login']">
        <i class="fa fa-sign-in mr-1"></i>
        Back to Login
      </a>
      <a [routerLink]="['/register']">
        <i class="fa fa-user-plus mr-1"></i>
        Create Account
      </a>
    </div>
  </div>
</div>