<div class="body" (click)="closeDropdowns()">
    <div class="main_container container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 left_col">
          <div class="left_col">
            <div class="navbar nav_title" style="border: 0; padding: 8px !important">
              <a href="/dashboard" class="site_title"><i class="fa fa-linkedin"></i> <span> Asura Inventory</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img [src]="'https://gravatar.com/avatar/' + (hashEmail)" [alt]="user.name" class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <h2>{{user.name}}</h2>
                <span>{{user.role}}
                </span>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li *ngIf="isAuth()" [class.active]="isActiveRoute('/dashboard')">
                    <a [routerLink]="['/dashboard']" routerLinkActive="active">
                      <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                  </li>
                  <li *ngIf="isAdmin() && isStaff()" [class.active]="isActiveRoute('/reports')">
                    <a [routerLink]="['/reports']" routerLinkActive="active">
                      <i class="fa fa-bar-chart"></i> Báo cáo
                    </a>
                  </li>
                  <li *ngIf="isAuth()" [class.active]="isActiveRoute('/transaction')">
                    <a [routerLink]="['/transaction']" routerLinkActive="active">
                      <i class="fa fa-exchange"></i> Giao dịch
                    </a>
                  </li>
                  <li *ngIf="isAdmin()" [class.active]="isActiveRoute('/category')">
                    <a [routerLink]="['/category']" routerLinkActive="active">
                      <i class="fa fa-tags"></i> Phân loại
                    </a>
                  </li>
                  <li [class.active]="isActiveRoute('/product')">
                    <a (click)="toggleProductSubmenu($event)">
                      <i class="fa fa-cube"></i> Sản phẩm 
                      <span class="fa" [class.fa-chevron-down]="!showProductSubmenu" [class.fa-chevron-up]="showProductSubmenu"></span>
                    </a>
                    <ul class="nav child_menu" [style.display]="showProductSubmenu ? 'block' : 'none'">
                      <li [class.current-page]="isActiveRoute('/product') && !hasQueryParams()">
                        <a [routerLink]="['/product']" routerLinkActive="active">Tất cả</a>
                      </li>
                      <li *ngFor="let category of categories" [class.current-page]="isActiveCategoryRoute(category.name)">
                        <a [routerLink]="['/product']" [queryParams]="{category: category.name}" routerLinkActive = "active">{{category.name}}</a>
                      </li>
                    </ul>
                  </li>
                  <li *ngIf="isAdmin()" [class.active]="isActiveRoute('/supplier')">
                    <a [routerLink]="['/supplier']" routerLinkActive="active">
                      <i class="fa fa-truck"></i> Nhà cung cấp
                    </a>
                  </li>
                  <li *ngIf="isAdmin()" [class.active]="isActiveRoute('/users')">
                    <a [routerLink]="['/users']" routerLinkActive="active">
                      <i class="fa fa-users"></i> Người dùng
                    </a>
                  </li>
                  <li *ngIf="isStaff()||isAdmin()" [class.active]="isActiveRoute('/purchase')">
                    <a [routerLink]="['/purchase']" routerLinkActive="active">
                      <i class="fa fa-shopping-cart"></i> Nhập hàng
                    </a>
                  </li>
                  <li *ngIf="isCustomer()||isAdmin()||isStaff()" [class.active]="isActiveRoute('/sell')">
                    <a *ngIf="isCustomer()" [routerLink]="['/sell']" routerLinkActive="active">
                      <i class="fa fa-money"></i> Mua hàng
                    </a>
                    <a *ngIf="isAdmin()||isStaff()" [routerLink]="['/sell']" routerLinkActive="active">
                      <i class="fa fa-money"></i> Xuất hàng
                    </a>
                  </li>
                  <li *ngIf="isAuth()" [class.active]="isActiveRoute('/profile')">
                    <a [routerLink]="['/profile']" routerLinkActive="active">
                      <i class="fa fa-user"></i> Hồ sơ
                    </a>
                  </li>
                  <li *ngIf="!isAuth()" [class.active]="isActiveRoute('/login')">
                    <a [routerLink]="['/login']" routerLinkActive="active">
                      <i class="fa fa-sign-in"></i> Đăng nhập
                    </a>
                  </li>
                  <li *ngIf="!isAuth()" [class.active]="isActiveRoute('/register')">
                    <a [routerLink]="['/register']" routerLinkActive="active">
                      <i class="fa fa-user-plus"></i> Đăng ký
                    </a>
                  </li>
                  <li *ngIf="isAuth()">
                    <a (click)="logout()">
                      <i class="fa fa-sign-out"></i> Đăng xuất
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer col-lg-2 hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Thu nhỏ menu">
                <span class="fa fa-arrows-alt" aria-hidden="true"></span>
              </a> <a data-toggle="tooltip" data-placement="top" title="Hồ sơ"  href="/profile">
                <span class="fa fa-user" aria-hidden="true"></span>
              </a> <a data-toggle="tooltip" data-placement="top" title="Trang chủ" href="/dashboard">
                <span class="fa fa-home" aria-hidden="true"></span>
              </a> <a data-toggle="tooltip" data-placement="top" title="Đăng xuất" (click)="logout()"> <span
                  class="fa fa-power-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <div class="col-md-10 col-lg-10 right_col_wrapper">
          <div class="row">
            <!-- top navigation -->
            <div class="col-lg-12 top_nav">
              <div class="nav_menu">
                <nav>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" [class.open]="showUserDropdown" (click)="$event.stopPropagation()">
                      <a href="javascript:;" class="user-profile dropdown-toggle" 
                         (click)="toggleUserDropdown($event)"
                         [attr.aria-expanded]="showUserDropdown">
                        <img [src]="'https://gravatar.com/avatar/' + (hashEmail)" [alt]="user.name">{{user.name}}
                        <span class="fa" [class.fa-angle-down]="!showUserDropdown" [class.fa-angle-up]="showUserDropdown"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-usermenu pull-right" [class.show]="showUserDropdown">
                        <li><a [routerLink]="['/profile']" (click)="closeDropdowns()"> Hồ sơ</a></li>
                        <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                      </ul>
                    </li>

                  </ul>
                </nav>
              </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
             <div class="right_col col-md-12" role="main">
            <router-outlet></router-outlet></div>
            <!-- /page content -->
              <!-- chat -->
						<app-chat-assistant></app-chat-assistant>
						<!-- /chat -->
            <!-- footer content -->
            <footer class="col-lg-12">
              <div class="pull-right">
                © Asura Inventory
              </div>
              <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
          </div>
        </div>
      </div>
    </div>
  </div>