<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form (ngSubmit)="handleSubmit()">
                    <h1>Đặt lại mật khẩu</h1>
                    <input type="hidden" name="token" [(ngModel)]="formData.token">
                    <div>
                        <input type="password" class="form-control" placeholder="Mật khẩu mới" name="password" [(ngModel)]="formData.password" required/>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required/>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Đặt lại mật khẩu</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        <a [routerLink]="['/login']" class="to_register">Quay lại đăng nhập</a>
                        <div class="clearfix"></div>
                        <br/>
                        <div>
                            <h1><i class="fa fa-skype"></i> Asura Storage Management!</h1>
                            <p>©2025 All Rights Reserved. Asura Storage Management! is a storage management service for enterprise. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>