<div class="login">
  <div>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form (ngSubmit)="handleSubmit()">
            <h1><b>Đăng ký</b></h1>
             
            <div>
              <input type="text" class="form-control" placeholder="Tên..." 
                     [(ngModel)]="formData.name" name="name" required />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Email..." 
                     [(ngModel)]="formData.email" name="email" required />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Mật khẩu..." 
                     [(ngModel)]="formData.password" name="password" required />
            </div>
            <div>
              <input type="tel" class="form-control" placeholder="Số điện thoại..." 
                     [(ngModel)]="formData.phoneNumber" name="phoneNumber" required />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Địa chỉ..." 
                     [(ngModel)]="formData.address" name="address" />
            </div>
            <div>
              <button type="submit" class="btn btn-primary submit">Đăng ký</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Đã có tài khoản?
                <a [routerLink]="['/login']" class="to_register"> Đăng nhập </a>
              </p>

              <div class="clearfix"></div>
              <br/>

              <div>
                <h1><i class="fa fa-skype"></i> Inventory Management!</h1>
                <p>©2025 All Rights Reserved. Inventory Management System.</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>